HOST=localhost
FRONTEND_SERVICE_PORT=3000
TRAEFIK_DASHBOARD_PORT=8080
TRAEFIK_SERVICE_PORT=80
TRAEFIK_SECURE_SERVICE_PORT=443
USERS_SERVICE_PORT=9000
MONGO_EXPRESS_USERS_PORT=9001
EVENTS_SERVICE_PORT=9010
MONGO_EXPRESS_EVENTS_PORT=9011
MEDIA_SERVICE_PORT=9020
MINIO_PASSWORD=
# PostgreSQL
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=
# Keycloak
KC_HOSTNAME=localhost
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_PORT=8082
USERS_SERVICE_SECRET=
INTERACTIONS_SERVICE_PORT=9030
MONGO_EXPRESS_INTERACTIONS_PORT=9031
RABBITMQ_USER=admin
RABBITMQ_PASS=
RABBITMQ_PORT=5672
CHAT_SERVICE_PORT=9040
MONGO_EXPRESS_CHAT_PORT=9041
# Payments Service
PAYMENTS_SERVICE_PORT=9040
MONGO_EXPRESS_PAYMENTS_PORT=9041
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
RESERVATION_TTL_MINUTES=10
USE_TRANSACTIONS=false
