services:
  events:
    deploy:
      replicas: ${EVENTS_SERVICE_REPLICAS:-1}
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
        failure_action: rollback
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.events.rule=Host(`events.${HOST}`)"
        - "traefik.http.routers.events.entrypoints=web"
        - "traefik.http.services.events.loadbalancer.server.port=${EVENTS_SERVICE_PORT}"
        - "traefik.docker.network=${COMPOSE_PROJECT_NAME}_eventonight-network"
    depends_on: []

networks:
  eventonight-network:
    driver: overlay
  events-network:
    driver: overlay
