services:
  seed:
    image: ghcr.io/eventonight/eventonight/seed:latest
    networks:
      - eventonight-network  
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - HOST=${HOST}
      - USER_HOST=http://users:${USERS_SERVICE_PORT}
      - EVENTS_HOST=http://events:${EVENTS_SERVICE_PORT}
      - INTERACTIONS_HOST=http://interactions:${INTERACTIONS_SERVICE_PORT}
      - CHAT_HOST=http://chat:${CHAT_SERVICE_PORT}
      - PAYMENTS_HOST=http://payments:${PAYMENTS_SERVICE_PORT}

networks:
  eventonight-network:
    driver: bridge