global:
  checkNewVersion: false
  sendAnonymousUsage: false
log:
  level: "DEBUG" #ERROR default
ping: {}
api:
  dashboard: true
  insecure: true
entryPoints:
  web:
    address: :80
  websecure:
    address: :443
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
serversTransport:
  forwardingTimeouts:
    dialTimeout: 10s
    responseHeaderTimeout: 30s
    idleConnTimeout: 90s