services:
  traefik: 
    image: traefik:v3.5
    networks:
      - eventonight-network
    ports:
      - "${TRAEFIK_SERVICE_PORT}:80"
      - "${TRAEFIK_SECURE_SERVICE_PORT}:443"
    environment:
      - HOST=${HOST}
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
      - ./infrastructure/gateway/config/config.yaml:/etc/traefik/traefik.yaml:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

networks:
  eventonight-network:
    driver: bridge