name: Test and Coverage

on:
  workflow_dispatch:
  # push:
  #   branches: [ main, feature/** ]
  # pull_request:

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21  

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run tests and generate coverage reports
        run: ./gradlew clean runCoverage --no-configuration-cache

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: |
            services/events/build/reports/jacoco/test/jacocoTestReport.xml
            services/media/coverage/lcov.info
            services/interactions/coverage/lcov.info
          flags: unittests
          fail_ci_if_error: false